In [1]:
import pandas as pd
import numpy as np

# Составьте несколько сводных таблиц.
### Данные находятся в файле kc_house_data.csv.

In [2]:
df = pd.read_csv('kc_house_data.csv')

1. среднюю стоимость домов в зависимости от количества спален и сохраните в avg. Отсортируйте от меньшей стоимости к большей.

In [3]:
avg1 = df.groupby('bedrooms')['price'].mean().sort_values()
avg = df.pivot_table(index='bedrooms', values='price',aggfunc='mean').sort_values(by='price')
avg

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

2. Найдите минимальную min, среднюю mean и максимальную max стоимости домов в зависимости от состояния дома и сохраните в price.

In [4]:
price1 = df.groupby('condition')['price'].agg(['min','mean','max'])
price2 = df.pivot_table(index='condition', values='price',aggfunc=['min','mean','max'])
price = pd.crosstab(df.condition, , values=df.price, aggfunc=['min','mean','max'])
price

                min                                                    \
price     75000.0   78000.0   80000.0   81000.0   82000.0   82500.0
condition
1               NaN   78000.0       NaN   81000.0       NaN       NaN
2               NaN       NaN   80000.0       NaN       NaN   82500.0
3           75000.0       NaN       NaN       NaN   82000.0       NaN
4               NaN       NaN       NaN       NaN       NaN       NaN
5               NaN       NaN       NaN       NaN       NaN       NaN

                                                   ...        max             \
price     83000.0   84000.0   85000.0   86500.0    ...  4489000.0  4500000.0
condition                                          ...
1               NaN       NaN       NaN       NaN  ...        NaN        NaN
2               NaN       NaN       NaN       NaN  ...        NaN        NaN
3           83000.0   84000.0   85000.0   86500.0  ...  4489000.0  4500000.0
4               NaN       NaN       NaN       NaN  ...        NaN        NaN
5               NaN       NaN       NaN       NaN  ...        NaN        NaN

                                                                             \
price      4668000.0  5110800.0  5300000.0  5350000.0  5570000.0  6885000.0
condition
1                NaN        NaN        NaN        NaN        NaN        NaN
2                NaN        NaN        NaN        NaN        NaN        NaN
3          4668000.0  5110800.0        NaN  5350000.0  5570000.0  6885000.0
4                NaN        NaN  5300000.0        NaN        NaN        NaN
5                NaN        NaN        NaN        NaN        NaN        NaN


price      7062500.0  7700000.0
condition
1                NaN        NaN
2                NaN        NaN
3          7062500.0        NaN
4                NaN  7700000.0
5                NaN        NaN

[5 rows x 12084 columns]

3. Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную waterfront и оценкой вида view и сохраните ее в view_waterfront.

In [5]:
view_waterfront = df.pivot_table(index='waterfront',columns='view', values='id',aggfunc='count', fill_value=0)
view_waterfront

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

4. Каких домов в зависимости от этажности и количества спален больше? Постройте эту таблицу, содержащую в себе информацию о спальнях и этажности, и сохраните ее в bedrooms_floors.

In [6]:
bedrooms_floors1 = df.groupby(['bedrooms', 'floors'])['id'].count().sort_values(ascending=False)
bedrooms_floors = df.pivot_table(index='floors',columns='bedrooms',values='id',aggfunc='count')
bedrooms_floors

bedrooms,0,1,2,3,4,5,6,7,8,9,10,11,33
floors,,,,,,,,,,,,,
1.0,4.0,162.0,1951.0,5455.0,2383.0,605.0,104.0,9.0,5.0,NaN,1.0,NaN,1.0
1.5,NaN,21.0,182.0,786.0,698.0,185.0,30.0,7.0,1.0,NaN,NaN,NaN,NaN
2.0,6.0,12.0,497.0,3118.0,3682.0,775.0,119.0,19.0,6.0,4.0,2.0,1.0,NaN
2.5,NaN,1.0,5.0,56.0,58.0,23.0,14.0,2.0,NaN,2.0,NaN,NaN,NaN
3.0,2.0,3.0,123.0,405.0,61.0,13.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN
3.5,1.0,NaN,2.0,4.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

5. Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома и сохраните в 'median_price'.

In [7]:
df['grade_'] = np.where((df['grade']<=3),0, np.where(df['grade']<=7,1,2))
grade1 = df.groupby('grade_')['id'].count().sort_values(ascending=False)
#grade
median_price = df.pivot_table(index='condition',columns='grade',values='price',aggfunc='median', fill_value=0)
median_price

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000.0,0.0,150000.0,190000.0,255000.0,403500.0,932500.0,0.0,0.0,0.0,0.0,0.0
2,0.0,280000.0,145000.0,180000.0,235000.0,305000.0,429000.0,715000.0,1752500.0,0.0,0.0,0.0
3,0.0,75000.0,205000.0,234475.0,265000.0,357500.0,485000.0,689000.0,890000.0,1209500.0,1807500.0,2888000.0
4,0.0,0.0,238525.0,229975.0,295000.0,390000.0,571250.0,823500.0,1030000.0,1685000.0,2125000.0,5750000.0
5,0.0,262000.0,0.0,227450.0,285475.0,456000.0,696000.0,1078000.0,1650000.0,2050000.0,1990000.0,0.0